/*************************************
 * Generic styling for ALS elements
 ************************************/
ul,
ol {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.als-container {
  margin: 0px auto;
  position: relative;
  width: 100%;
  z-index: 0;
}

.als-viewport {
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}

.als-wrapper {
  list-style: none;
  position: relative;
}

.als-item {
  cursor: pointer;
  display: block;
  float: left;
  position: relative;
  text-align: center;
}

.als-prev,
.als-next {
  clear: both;
  cursor: pointer;
  position: absolute;
}
